[submodule "modules/egui_sdl2_platform"]
	path = modules/egui_sdl2_platform
	url = git@github.com:ComLarsic/egui_sdl2_platform.git
[submodule "modules/ebyte-e32-ftdi"]
	path = modules/ebyte-e32-ftdi
	url = git@github.com:deets/ebyte-e32-ftdi.git
[submodule "modules/embedded-nrf24l01"]
	path = modules/embedded-nrf24l01
	url = git@github.com:astro/embedded-nrf24l01.git
